@import 'setting.scss';

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  //overflow-y: hidden;
}
.trello-chien-master{
  height: 100vh; // chieu cao full man
  display: grid ;
  grid-template-rows: 50px 60px 1fr; // tu tren xuong co 3 thanh 
  line-height: 2em;
  background-color: $board-bg-color;
}