@import 'setting.scss';

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  //overflow-y: hidden;
}
.trello-chien-master{
  height: 100vh; // chieu cao full man
  overflow: hidden;
  line-height: 2em;
  background-color: $board-bg-color;
}